<?xml version="2.0.0" encoding="UTF-8"?>
<config>
    <metadatas>
        <name>confederacio</name>
        <creationDate>2016-05-15 10:00:00</creationDate>
        <author>Miquel Adell Borràs</author>
        <authorEmail>miquel@miqueladell.com</authorEmail>
        <authorUrl>http://www.miqueladell.com</authorUrl>
        <copyright>Copyright (C) 2017 Miquel Adell. Some rights reserved.</copyright>
        <license>GNU General Public License version 2 or later</license>
        <version>2.0.0</version>
        <description>LimeSurvey Template</description>
        <last_update>2017-03-30 10:00:00</last_update>
    </metadatas>

    <!--
        Here the list of the css/js files to load.
        Any file here will be loaded via the asset manager
    -->
    <files>
        <css>
            <filename>dist/styles/vendor.css</filename>
            <filename>dist/styles/main.css</filename>
        </css>
        <js>
            <filename>dist/scripts/vendor.js</filename>
            <filename>dist/scripts/main.js</filename>
        </js>
    </files>

    <!-- For template editor -->
    <files_editable>
        <css>
            <filename>dist/styles/vendor.css</filename>
            <filename>dist/styles/main.css</filename>
        </css>
        <js>
            <filename>dist/scripts/vendor.js</filename>
            <filename>dist/scripts/main.js</filename>
        </js>
    </files_editable>

    <engine>
        <cssframework>bootstrap</cssframework>
        <pstpldirectory>views</pstpldirectory>

        <!--
            Set to yes to overwrite the question views,
            then, just copy application/views/survey/* to template/{your_view_directory}/survey/
            You also must allow the template to overwrite the views from your site configuration
            In application/config/config.php, find :     'config'=>array
            and add this line in it : 'allow_templates_to_overwrite_views'=>1
        -->
        <overwrite_question_views>false</overwrite_question_views>

        <packages>
            <package>jquery-touch-punch</package>
        </packages>
    </engine>
</config>
