
.logo-holder {
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 2px solid black;
    &.scrolled {
        width: 100px;
        height: 72px;
        padding: 10px;
        border: 0px;
    }
    @media (max-width : 676px) {
        width: 100px;
        height: 72px;
        padding: 10px;
        border: 0px;
    }

    transition: width 0.5s, height 0.5s, padding 0.5s;

    z-index: 10;
    background-color: white;

    z-index: 999999;
    position: fixed;
    margin: 0px;


    .logo {
        background-image: url('../images/logo.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        height: 100%;
        width: 100%;
    }
}
body .nav {
    width: 258px;
    position: fixed;
    right: 0;
    text-align: right;
    font-weight: bold;
    &>li {
        font-size: 80%;
        &>a {
            padding: 6px 10px ;
        }
    }
    @media (max-width : 980px) {
        margin-top: 54px;
        width: 100%;
        border-bottom: 1px solid $brand-primary;
        background: white;
        &>li {
            width: auto;
            text-align: center;
            float: right;
            &>a {
                padding: 6px 10px ;
            }
        }
    }
    @media (max-width : 380px) {
        &>li {
            font-size: 80%;
            &>a {
                padding: 6px 5px ;
            }
        }
    }

}

.brand-text {
    float: left;
    line-height: 57px;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin-left: 230px ;
    font-size: 2em;
    color: $brand-primary;
    font-weight: bold;

    @media (max-width : 1290px) {
        font-size: 1.5em;
    }
    @media (max-width : 1110px) {
        font-size: 1.25em;
    }
    @media (max-width : 980px) {
    }
    @media (max-width : 676px) {
        font-size: 1em;
        margin-left: 100px;
        margin-right: 0;
        width: auto;
    }
    @media (max-width : 380px) {
        font-size: 80%;
    }

}

.outerframe {
    padding-top: 200px;
    @media (max-width : 676px) {
        padding-top: 10px;
    }
}
