body .navbar-default .navbar-brand {
	background-image: url(../images/logo.png);
    background-size: 150px;
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 190px;

	@media (max-width: 801px) {
		background-size: auto 30px;
	    background-position: left;
		background-image: url(../images/logo-min.png);
		padding-left: 60px;
	}
}


html body .navbar.navbar-default.navbar-fixed-top {
	padding: 5px 0px;
}
