body .navbar-default .navbar-brand {
	background-image: url('../images/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	padding-left: 300px;

	@media (max-width: 801px) {
		background-image: url('../images/logo-min.png');
		padding-left: 70px;
	}
}


html body .navbar.navbar-default.navbar-fixed-top {
	padding: 5px 0px;
}
