$navbar-background-color: white !default;
$navbar-inverse-background-color: $brand-inverse !default;
$navbar-text-color: black;
$navbar-inverse-text-color: black;
$navbar-other: grey;

body .navbar-default {
  background-color: $navbar-background-color;
  border-color: $brand-primary;
  border-bottom: 5px solid $brand-primary;
  box-shadow: 0;
}
.navbar-default .navbar-brand {
  color: $navbar-text-color;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: $navbar-text-color;
  background-color: none;
}
.navbar-default .navbar-text {
  color: $navbar-text-color;
}
.navbar-default .navbar-nav > li > a {
  color: $brand-inverse;
  @media (max-width: 1199px) {
    color: white;
  }
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: $brand-primary;
  color: white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: $navbar-inverse-text-color;
  background-color: $navbar-other;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: lighten($navbar-text-color,40%);
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: black;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: $brand-inverse;
  .icon-bar{
    background-color: white;
  }
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

@media (max-width: 1199px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $navbar-text-color;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: $navbar-text-color;
    background-color: $navbar-other;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: $navbar-text-color;
    background-color: $navbar-other;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: lighten($navbar-text-color,40%);
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: $navbar-text-color;
}
.navbar-default .navbar-link:hover {
  color: $navbar-text-color;
}
.navbar-default .btn-link {
  color: $navbar-text-color;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: $navbar-text-color;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: lighten($navbar-text-color,40%);
}

@media (max-width: 1199px) {
  .nav.navbar-nav.navbar-right {
      background-color: $brand-primary;
      margin-top: 108px;
      margin-left: 15px;
  }
}
