$navbar-background-color: white !default;
$navbar-inverse-background-color: white !default;
$navbar-text-color: $brand-primary ;
$navbar-inverse-text-color: black;

.navbar-default {
	background-color: $navbar-background-color;
	border-color: lighten($navbar-background-color,20%);
	.navbar-brand {
		color: $navbar-text-color;
		&:hover, &:focus {
			color: $navbar-text-color;
			background-color: none;
		}
	}
	.navbar-text {
		color: $navbar-text-color;
	}
	.navbar-nav {
		& > li > a {
			color: $navbar-text-color;
			&:hover, &:focus {
				background-color: lighten($navbar-background-color,20%);
			}
		}
		& .active > a,
		& .active > a:hover,
		& .active > a:focus {
			color: $navbar-inverse-text-color;
			background-color: lighten($navbar-background-color,20%);
		}

		& > .disabled > a,
		& > .disabled > a:hover,
		& > .disabled > a:focus {
			color: lighten($navbar-text-color,20%);
			background-color: transparent;
		}
	}

	& .navbar-toggle {
		border-color: $navbar-text-color;
		&:hover,
		&:focus {
			background-color: $navbar-text-color;
			.icon-bar{
				background-color: $navbar-inverse-background-color;
			}
		}
		.icon-bar {
			background-color: $navbar-text-color;
		}
	}


}



.navbar-default .navbar-toggle
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: lighten($navbar-background-color,20%);
	&.collapsing {
		border-color: transparent;
	}
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: lighten($navbar-background-color,20%);
	color: $navbar-text-color;
}
@media (max-width: 1199px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: $navbar-text-color;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: $navbar-text-color;
		background-color: lighten($navbar-background-color,20%);
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: $navbar-text-color;
		background-color: lighten($navbar-background-color,20%);
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: lighten($navbar-text-color,40%);
		background-color: transparent;
	}
}
.navbar-default .navbar-link {
	color: $navbar-text-color;
}
.navbar-default .navbar-link:hover {
	color: $navbar-text-color;
}
.navbar-default .btn-link {
	color: $navbar-text-color;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
	color: $navbar-text-color;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
	color: lighten($navbar-text-color,40%);
}


@media (max-width: 1199px) {
	.nav.navbar-nav.navbar-right {
		background-color: $navbar-background-color;
		margin-top: 108px;
		margin-left: 15px;
	}
}
