body {
	line-height: 1.125;
}
body .navbar-default .navbar-brand {
	font-weight: 900 !important;
	text-transform: uppercase !important;
	font-size: 1.4vw;
	@media (max-width: 801px) {
		font-size: 100%;
	}
}

body h1, body h2, body h3 {
	font-weight: 900;
	text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
	text-transform: uppercase;
	font-size: 0.9vw;

	@media (max-width: 801px) {
		font-size: 100%;
	}
	margin-left: 0.25em;
    margin-right: 0.25em;
	font-weight: 600;
}

.navbar-default .navbar-nav>li:first-child a {
	margin-left: 0;
}
.navbar-default .navbar-nav>li:last-child a {
	margin-right: 0;
}

.navbar-fixed-top .navbar-collapse {
	position: fixed;
	right: 15px;
}

.nav.navbar-nav.navbar-right {
	@media (max-width: 767px) {
		background-color: white;
		margin-top: 108px;
		margin-left: 15px;
	}
}

.navbar-default .navbar-toggle {
	position: absolute;
	z-index: 10;
}

.question-text {
	font-weight: 300;
}

input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
	width: auto !important;
}

body {
	background-color: $body-background;
}

body .outerframe {
	background-color: white;
	padding: 0 100px 200px 100px;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}


.navbar-fixed-top .navbar-collapse {
	position: fixed;
	right: 15px;
}

.nav.navbar-nav.navbar-right {
	@media (max-width: 767px) {
		background-color: $navbar-background-color;
		margin-top: 108px;
		margin-left: 15px;
	}
}

.navbar-default .navbar-toggle {
	position: absolute;
	z-index: 10;
}

#surveydescription, .group-name {
	color: inherit;
}

.navbar {
	border-bottom: 3px solid $brand-primary !important;
	box-shadow: none;
	padding: 10px 0px !important;
}

body .navbar-default .navbar-brand {
	font-size: 150%;
	@media (max-width: 767px) {
		font-size: 100%;
	}

}
// .navbar-default .navbar-nav>li>a {
// 	background: $brand-primary;
// 	color: black;
// 	text-transform: uppercase;
// 	font-weight: bold;
// 	line-height: 1em;
// 	padding: 0;
// 	margin: 1em;
// 	cursor: pointer;
//
// 	@media (max-width: 1199px) {
// 		background: transparent;
// 		color: $brand-primary;
// 	}
// }

form > .row {
	margin-top: 35px;
}


.footer {
	.logos-row {
		display: none;
	}
	// .col {
	// 	margin-top: 50px;
	// 	border-top: 1px solid $brand-primary;
	// }
	// .logos {
	// 	height: 100px;
	// 	width: 500px;
	// 	margin: 0px auto;
	//     color: $brand-primary;
	//     margin-top: 1em;
	// 	h3 {
	// 	font-size: 100% !important;
	// 	border-bottom: 1px solid $brand-primary;
	// 	}
	//
	// }
	// .logo1, .logo2 {
	// 	background-size: contain;
	// 	background-repeat: no-repeat;
	// 	width: 200px;
	// 	height: 50px;
	// 	margin: 10px 25px 50px;
	// 	float: left;
	// 	display: block;
	// 	text-align: center;
	// }
	// .logo1 {
	// 	background-image: url('../images/logo-footer-1.jpg');
	// }
	// .logo2 {
	// 	background-image: url('../images/logo-footer-2.png');
	// }
}
.parallax-window {

	padding: 150px 50px;
	position: relative;
	&:after {
		content: " ";
		background: black;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0.4;
		z-index: 1;
	}
	h1 {
		font-size: 50px;
		color: white !important;
		text-align: center;
		text-transform: uppercase;
		position: relative;
		z-index: 2;
	}
	p {
		font-size: 25px;
		color: white !important;
		text-align: center;
		position: relative;
		z-index: 2;
	}
}
